<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>반응형페이지1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/header.css" media="screen" title="no title">
  </head>
  <body>
     <header>
       <img id="logo" src="/img/scale.png"/>
     </header>
     <nav>
       <img src="/img/scale.png"/>
       <img src="/img/scale.png"/>
       <img src="/img/scale.png"/>
       <img src="/img/scale.png"/>
       <img src="/img/scale.png"/>
     </nav>
     <p>Lorem Ipsum dolor set amet....</p>
  </body>
</html>
