<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>반응형페이지1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/header.css" media="screen" title="no title">
  </head>
  <body>
    <article>
     <header>
       <h1>Most important heading here</h1>
      <h3>Less important heading here</h3>
       <p>Some additional information here</p>
     </header>
     <p>Lorem Ipsum dolor set amet....</p>
  </article>
  </body>
</html>
